import 'react-image-lightbox/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Für Webkit-basierte Browser (Chrome, Safari, Edge) */
.modal-scroll::-webkit-scrollbar {
  width: 8px;
}

.modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background-color: #003865; /* Design-Farbe */
  border-radius: 10px;
  border: 2px solid transparent;
}

/* Für Firefox */
.modal-scroll {
  scrollbar-width: thin;
  scrollbar-color: #003865 transparent;
}

/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Navbar Styles */
.navbar {
    width: 100%;
    box-sizing: border-box;
}

/* Content Styles */
.content {
    width: 100%;
    box-sizing: border-box;
}
